{% extends "base.html" %}
{% load static %}

{% block title %}Contacto - Municipalidad{% endblock %}

{% block extra_head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilo_contactos.css' %}">
{% endblock %}

{% block content %}
    <div class="text-center my-4">
        <h2>Contáctanos</h2>
    </div>
    
    <!-- Contenedores cuadrados -->
    <div class="container d-flex flex-wrap justify-content-center gap-4">
        <div class="card card-blue" style="width: 18rem;">
            <img src="{% static 'pictures/imagen1.jpg' %}" class="card-img-top" alt="Imagen Contactos" />
            <div class="card-body">
                <h5 class="card-title">Ejemplo de Contacto</h5>
                <a href="#" class="btn btn-primary">Conoce Más</a>
            </div>
        </div>

        <div class="card card-green" style="width: 18rem;">
            <img src="{% static 'pictures/imagen4.jpg' %}" class="card-img-top" alt="Imagen Título Dos" />
            <div class="card-body">
                <h5 class="card-title">Ejemplo de Contacto</h5>
                <a href="#" class="btn btn-primary">Conoce Más</a>
            </div>
        </div>

        <div class="card card-purple" style="width: 18rem;">
            <img src="{% static 'pictures/imagen3.jpg' %}" class="card-img-top" alt="Imagen Título Tres" />
            <div class="card-body">
                <h5 class="card-title">Ejemplo de Contacto</h5>
                <a href="#" class="btn btn-primary">Conoce Más</a>
            </div>
        </div>
    </div>
{% endblock %}
