{% extends "base.html" %}
{% load static %}

{% block title %}Crear Nueva Noticia - Municipalidad{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/crear_noticia.css' %}">
{% endblock %}

{% block content %}
    <main>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="botones-form">
                <button type="submit" class="btn btn-primary">Guardar Noticia</button>
                <a href="{% url 'lista_noticias' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </main>
{% endblock %}