{% extends "base_admin.html" %}
{% load static %}

{% block title %}Servicios Municipales{% endblock %}

{% block extra_head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/portal/estilo_servicios.css' %}">
{% endblock %}

{% block content %}
<main class="container py-5">
    <div class="text-center mb-5">
        <h2>Servicios Municipales</h2>
        <p class="text-muted">Gestión y asistencia para el ciudadano</p>
    </div>

    <div class="servicios-grid">
        <div class="card-servicio card-verde-oscuro">
            <a href="{% url 'catastro_info' %}">
                <div class="card-imagen">
                    <img src="{% static 'pictures/catastro.png' %}" alt="Catastros">
                </div>
                <div class="card-info">
                    <h3 class="card-titulo">Catastros</h3>
                    <p>Consulta de planos, estados parcelarios y trámites de dominio.</p>
                    <a href="{% url 'catastro_info' %}" class="btn-servicio">Ver Detalles</a>
                </div>
            </a>
        </div>

        <div class="card-servicio card-verde-principal">
            <a href="{% url 'rentas' %}">
                <div class="card-imagen">
                    <img src="{% static 'pictures/finanzas.jpg' %}" alt="Finanzas">
                </div>
                <div class="card-info">
                    <h3 class="card-titulo">Finanzas</h3>
                    <p>Pago de tasas, impuestos municipales y estados de cuenta.</p>
                    <a href="{% url 'rentas' %}" class="btn-servicio">Ver Detalles</a>
                </div>
            </a>
        </div>

        <div class="card-servicio card-verde-principal">
            <a href="{% url 'consultas' %}">
                <div class="card-imagen">
                    <img src="{% static 'pictures/consultas_ciudadanas.jpg' %}" alt="Catastros">
                </div>
                <div class="card-info">
                    <h3 class="card-titulo">Consultas Ciudadanas</h3>
                    <p>Realizar peticiones ciudadanas, reclamos, plantear asuntos especificos.</p>
                    <a href="{% url 'consultas' %}" class="btn-servicio">Ver Detalles</a>
                </div>
            </a>
        </div>

        <div class="card-servicio card-verde-oscuro">
            <a href="{% url 'bienvenida_habilitaciones' %}">
                <div class="card-imagen">
                    <img src="{% static 'pictures/habilitacione_comerciales.png' %}" alt="Catastros">
                </div>
                <div class="card-info">
                    <h3 class="card-titulo">Habilitaciones Comerciales</h3>
                    <p>Consulta de Requisitos, creacion de una peticion de habilitacion ciudadana.</p>
                    <a href="{% url 'bienvenida_habilitaciones' %}" class="btn-servicio">Ver Detalles</a>
                </div>
            </a>
        </div>
    </div>
</main>
{% endblock %}